<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<%= url('/index.css') %>" rel="stylesheet">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
        <h2> Welcome, please RSVP using the form below! </h1>
      <form id="form0">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" placeholder="Surname">
        </div>
        <div class="form-group">
          <label for="ġuest">Are you bringing a guest?</label>
          <select class="form-control" id="guest">
            <option>---</option>
            <option>No</option>
            <option>Yes</option>
          </select>
        </div>
        <div class="form-group">
          <label for="diet">Do you have any dietary requirements?</label>
          <textarea class="form-control" rows="3" id="diet"></textarea>
        </div>
        <button type="button" id="but" class="btn btn-primary">Submit</button>
        <div class="form-group" id="error" style="display: none;">
          <label style="color: red;">There was an error, please try again.</label>
        </div>
        <div class="form-group" id="thank-you" style="display: none;">
          <label>Thanks! We'll see you soon!</label>
        </div>
      </form>
    </div>
  </div>
  <script src="/jquery-3.1.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var clicked = false;
    $('#but').click(function(){
      setTimeout(function(){
        $('#form0')[0].reset();
      }, 5000);
      if(clicked == false){
        $('#error').delay(5000).fadeIn(500).delay(1000).fadeOut(500);
        clicked = true;
      } else {
        $('#thank-you').fadeIn(500);
      }
    });
  </script>
</body>

</html>