<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <style>
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  </style>
  <div class="jumbotron">
    <div class="container">
      <% if paid %>      
        <h1> Thank you for your custom! </h1>
        <p> To download the decryption application click <a href="<%= url("/#{uid}/download") %>">here</a>. </p>
      <% else %>
        <% if status == :not_paid %>
        <h1> Payment pending </h1>
        <% elsif status == :time_expired %>
        <h1> Payment window elapsed </h1>
        <% else %>
        <h1> An error occurred. Please check the URL and try again. </h1>
        <% end %>
      <% end %>
    </div>
  </div>
  <script src="/public/jquery-1.9.1.min.js"></script>
  <script src="/public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>