h2 {
  text-align: center;
  padding-bottom: 50px;
}

.error {
  margin: 20px;
}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  margin: 15%;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}